div {
  background-color: #d6ffe9;
  width: 50%;
  border: 2px solid #2b00ff;
  padding: 15px;
  margin: auto;
  display: auto;
}

h1 {
  font-family: 'Arial';
  color: #470000;
  font-weight: bold;
  text-align: center;


}
