.app-container {
  background-color: #d6ffe9;
  border: 2px solid #2b00ff;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  height: fit-content;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 4em;
  margin: 0;
  text-align: center;


}
